<div class="progress blue" *ngIf="!posts">
  <div class="indeterminate"></div>
</div>

<main class="feed center-container">


  <section class="posts" *ngIf="posts">
    <!-- posts -->
    <article *ngFor="let post of posts | orderBy: ['-timestamp'] |
        searchPostTitle: search | searchCategory: activeCategory" [ngClass]="{'high': post.priority === 'High'}" class="post" (click)="navigate('view', post.$key)">
      <img *ngIf="parseImgUrl(post.detail)" [src]="parseImgUrl(post.detail)">

      <h6 class="title">{{ post.title }}</h6>
      <p [innerHTML]="parseShortDescription(post.detail)"></p>

      <footer>
        <i class="mdi {{'mdi-' + type}}" *ngFor="let type of post.types"></i>
        <span> • </span>
        <time>{{ returnMoment(post.timestamp) }}</time>
        <span> • </span>
        <span [routerLink]="['/profile/', post.owner.userid]" class="owner">
          {{ post.owner.userid }}
        </span>

        <div *ngIf="User.password.email && FeedID == User.feed.id">
          <span> • </span>
          <span (click)="navigate('edit', post.$key)">Modify</span>
          <span> • </span>
          <span (click)="deleteModel(post.$key, $event)">Remove</span>
        </div>
      </footer>
    </article>
  </section>
</main>

<div id="emailModel" class="modal account">
  <header>
    <h5 class="title">Authorize Email</h5>
  </header>

  <hr class="line">

  <div class="modal-content">
    <div class="row">
      <div class="input-field">
        <input type="email" class="validate" #email required value="">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="error">
      <span class="red-text" id="errorEmail"></span>
    </div>

    <div class="modal-loading" *ngIf="emailLoading">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="line">

  <footer>
    <a class="waves-effect waves-blue btn white-text" (click)="checkEmail(email.value)">Load</a>
    <a class="waves-effect waves-blue btn white-text grey darken-1 right" (click)="closeEmail()">Back</a>
  </footer>

  <hr class="triple line">
</div>
