main.view-post {
  min-height: 46rem;

  > figure.poster {
    margin: 0;
    width: 100%;
    display: block;
    min-height: 7.5rem;
    position: relative;

    max-height: 58rem;
    overflow: hidden;

    > img {
      width: 100%;
    }

    &:not(:empty):after {
      content: '';
      position: absolute;
      opacity: .075;
      background: black;
      top: 0; left: 0;
      width: 100%; height: 100%;
      transition: opacity .2s linear;
    }

    &:hover {
      &:after {
        opacity: .05;
      }
    }
  }

  > section.meta {
    margin: 2rem 0;

    > .center-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media #{$small-and-down} {
        flex-direction: column;
        align-items: flex-start;

        .feed-name {
          margin-bottom: 2rem;
        }
      }

      .feed-name {
        span {
          font-size: 13px;
          color: $quaternary-color;
        }

        h5 {
          margin: 0;
          font-weight: 500;
          color: $title-gray;
        }
      }

      .sharing-options {
        h6 {
          text-transform: uppercase;
          font-size: 10px;
          margin: 0;
          color: transparentize($title-gray, .5);
          margin-bottom: .25rem;
        }
      }
    }

    .share {
      .url span {
        min-width: 18rem;
      }
    }
  }

  article.post {
    position: relative;
    padding: 1.5rem 2rem;
    max-width: 1140px;
    margin: 0 auto;
    color: transparentize(black, .1);
    background: white;
    margin-top: -7.5rem;
    box-sizing: border-box;

    > header {
      margin-bottom: 2rem;

      > time {
        font-size: 12px;
        color: $quaternary-color;
      }

      > .title {
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
        color: $title-gray;
        font-size: 32px;
        margin-top: .35rem;
      }
    }

    .content {
      color: $title-gray;

      img {
        max-width: 100%;
      }
    }

    // sizes reset
    h1 { font-size: 2.2em }
    h2 { font-size: 2em }
    h3 { font-size: 1.8em }
    h4 { font-size: 1.6em }
    h5 { font-size: 1.4em }
    h6 { font-size: 1.2em }

    figure {
      width: 80%;
      margin: 2rem auto;
      background: #f7f7f7;
      padding: 1rem;
      line-height: 1.5;
      text-align: center;

      p {
        margin: .25rem 0;
        opacity: .5;
        font-size: .85em;

        &:last-child { margin-bottom: 0; }
      }
    }
  }
}

.section-get {
  padding: 5rem 0;
  text-align: center;

  button {
    background: $dark-blue;
    border-radius: 5px;
    font-weight: normal;
    height: auto;
    line-height: 1.6;
    padding: 1.5rem 3rem;

    span {
      opacity: .5;
      display: block;
      text-transform: none;
      font-size: .85em;
    }

    &:hover {
      background: transparentize($dark-blue, .1);
    }
  }

  img {
    margin-top: .5rem;
  }
}

.section-separately {
  position: relative;
  z-index: 2;

  & + .superwire-preview {
    position: relative;
    z-index: 1;
  }

  > header {
    color: $blue-gray;
    font-size: .85em;

    &,
    .logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      img {
        margin-right: .35rem;
      }
    }
  }

  > ul {
    display: flex;
    width: 100%;
    margin-top: .75rem;

    @media #{$small-and-down} {
      flex-direction: column;
      align-items: flex-start;

      > li {
        width: 100%;

        &:first-child:first-child {
          border-radius: 5px 5px 0 0;
        }

        &:last-child:last-child {
          border-radius: 0 0 5px 5px;
        }

        &:not(:last-child):not(:last-child) {
          &:after {
            left: 1.5rem;
            right: 1.5rem;
            top: auto;
            bottom: 0;
            border-right: none;
            border-top: $dark-blue 1px solid;
          }
        }
      }
    }

    > li {
      background: $blue;
      color: $dark-blue;
      line-height: 1;
      position: relative;
      padding: 1.5rem;
      flex: 1;
      transition: .2s ease;
      transition-property: background;

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:not(:last-child) {
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 20%;
          bottom: 20%;
          border-right: $dark-blue 1px solid;
          opacity: .1;
        }
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      > ul {
        background: white;
        border-radius: 5px;
        padding: 1rem 1.5rem;
        line-height: 1.8;

        @media #{$medium-and-up} {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          box-shadow: transparentize(black, .7) 0 2px 7px;
          opacity: 0;
          visibility: hidden;
          transform: translate3d(0, 0, 0);
          transition: .2s ease;
          transition-property: opacity, visibility, transform;

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1rem;
            bottom: 100%;
          }

          &:before {
            content: '▴';
            position: absolute;
            font-size: 1.5em;
            margin-left: -.5em;
            left: 50%;
            width: 100%;
            height: 1rem;
            bottom: 100%;
            text-shadow: transparentize(black, .9) 0 -2px 3px;
            line-height: 1;
            color: white;
          }
        }

        @media #{$small-and-down} {
          margin-top: 1rem;
        }

        li {
          font-size: .85em;

          a {
            display: block;
            color: $dark-blue;

            &:visited,
            &.active {
              color: #039be5;
            }
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }

      @media #{$medium-and-up} {
        &:hover {
          background: darken(desaturate($blue, 25%), 5%);

          &:not(:last-child) {
            &:after {
              display: none;
            }
          }

          > ul {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 1rem, 0);
          }
        }
      }
    }
  }
}

.superwire-preview {
  background: $blue-gray;
  border-radius: 5px;
  color: white;

  > header {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      white-space: nowrap;

      @media #{$small-and-down} {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          justify-content: flex-start;
        }
      }

      &:nth-child(2) {
        flex: 5;
      }

      &:last-child {
        justify-content: flex-end;

        i {
          cursor: pointer;
          font-size: 1.25em;
          padding: .3em;
        }
      }
    }

    > .superwire {
      font-size: .9em;

      img {
        margin-right: .5rem;
        height: 1.5rem;
        opacity: .75;
      }

      span {
        opacity: .5;
      }
    }
  }

  > .content {
    padding: 0 .4rem .4rem;
    font-size: 12px;

    > .iframe,
    > iframe {
      background: white;
      border-radius: 0 0 4px 4px;
      border: 0;
      width: 100%;
      min-height: 4rem;
      display: block;
      margin: 0;
    }
  }
}

.other-posts {
  background: $mid-gray;
  padding: 60px 0;

  h5.title {
    color: $quaternary-color;
    margin-bottom: 2rem;
    font-weight: 400;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    background: white;
    border: 1px solid $mid-gray;
    max-width: 50%;
    min-width: 50%;
    flex: 1;
    padding: 1.2rem 1.5rem;
    box-sizing: border-box;
    transition: .2s ease background;
    cursor: pointer;

    @media #{$small-and-down} {
      max-width: 100%;
      min-width: 100%;
    }

    > h6 {
      font-size: 20px;
      margin-bottom: .5rem;
      color: $title-gray;
    }

    > p {
      margin: 0;
      color: $quaternary-color;
    }

    > h6,
    > p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: .2s ease padding;
    }

    &:hover {
      background: $light-gray;

      > h6 {
        padding-left: .3em;
      }

      > p {
        padding-left: .6em;
      }
    }
  }
}