<main class="view-post center-container" *ngIf="post">

  <img [src]="post.embedly.images[0].url" *ngIf="post.embedly && post.embedly.images" class="poster">

  <article class="post">
    <h4 class="title">{{post.title}}</h4>

    <div *ngIf="post.embedly && post.embedly.url">
      <a href="{{post.embedly.url}}" target="_blank"><i class="large mdi mdi-link"></i></a>
    </div>

    <!-- content container -->
    <div id="postDetails" class="content"></div>
  </article>

  <aside class="meta hide">
    <div  *ngIf="User.password.email && post.owner.userid == User.feed.userid">
      <a [routerLink]="['/editpost', postid]"><i class="large mdi mdi-pencil"></i></a>
    </div>

    <p><a [routerLink]="['/profile', post.owner.userid]">@{{post.owner.userid}}</a></p>

    <p>Priority: {{post.priority}}</p>
    <p>Category: {{post.category}}</p>

    <p>{{returnMoment(post.timestamp)}}</p>

    <div *ngIf="post.pdfLink">
       <a href="{{post.pdfLink}}" target="_blank"><i class="mdi mdi-file-pdf"></i></a>
    </div>

    <div *ngIf="post.gsheetLink">
       <a href="{{post.gsheetLink}}" target="_blank"><i class="mdi mdi-google-drive"></i></a>
    </div>
  </aside>
</main>
