<main class="feed center-container">

<h4>My Community Feed</h4>
  <section class="posts" *ngIf="subscription">
    <!-- posts -->
    <article *ngFor="let post of subscription | orderBy: ['-timestamp'] |
        searchPostTitle: search | searchCategory: activeCategory" [ngClass]="{'high': post.priority === 'High'}" class="post" (click)="navigate(post.$key)">
      <img *ngIf="parseImgUrl(post.detail)" [src]="parseImgUrl(post.detail)">

      <h6 class="title">{{ post.title }}</h6>
      <p [innerHTML]="parseShortDescription(post.detail)"></p>

      <footer>
        <i class="mdi {{'mdi-' + type}}" *ngFor="let type of post.types"></i>
        <span> • </span>
        <time>{{ returnMoment(post.timestamp) }}</time>
        <span> • </span>
        <span [routerLink]="['/profile/', post.owner.userid]" class="owner">
          {{ post.owner.userid }}
        </span>
      </footer>
    </article>
  </section>
</main>