main.regflow {
  .modal.regflow {
    margin: 5rem auto;
    position: relative;
  }
}

.modal.regflow {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 540px;
  min-height: 620px;
  background: linear-gradient($blue, white 70%);
  box-shadow: transparentize(black, .9) 0 2px 30px;
  overflow: visible;

  > .screen {
    width: 100%;
    padding-top: 140px;
    flex: 1 0 auto;
    background: url('assets/superwire-modal.svg') top 40px center no-repeat;

    > .first {
      font-weight: 300;
      color: $blue-gray;
      font-size: 24px;
      margin: 0 0 10px;
    }

    > .main {
      font-weight: 600;
      color: #333;
      font-size: 42px;
      margin: 0;
    }

    > p {
      max-width: 70%;
      line-height: 2.2;
      margin: 90px auto 0;
      font-weight: 300;
      color: $blue-gray;
      font-size: 14px;
      letter-spacing: .2px;
    }

    &.welcome + .content {
      padding-top: 0;
    }
  }

  > .content {
    padding: 40px;
    background: white;

    > h6 {
      font-weight: 300;
      color: $blue-gray;
      font-size: 18px;
    }

    > button {
      background: $blue-dark;
      text-transform: uppercase;
      color: white;
      width: 100%;
    }

    > .input-field {
      margin: 40px 0;

      .caret {
        opacity: .5;
        color: $blue-gray;
        display: none;
      }

      input {
        opacity: .5;
        color: $blue-gray;
        text-align: center;
      }
    }
  }
}

.modal.regflow .pillbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px -5px 0;

  > .pills {
    flex: 1;
    text-align: center;
    margin: 0;

    > li {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: $gray-mid;
      cursor: pointer;
      margin: 0 7px;
      border-radius: 10px;

      &.active {
        background: $purple-light;
      }
    }
  }

  > .arrow {
    flex-basis: 24px;
    height: 18px;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }

    > svg {
      height: 18px;
      fill: $purple-light;
      padding: 0 5px;
      cursor: pointer;
      box-sizing: content-box;
    }
  }
}

.modal.regflow.feed {
  background: linear-gradient($pink-light, white 70%);

  > .screen {
    background: url('assets/superwire-modal-pink.svg') top 40px center no-repeat;

    > .first {
      color: $pink-mid;
    }
  }

  > .content {
    > h6 {
      // color: $pink-mid;
    }
  }

  .pillbar {
    > .pills {
      > li.active {
        background: $pink-light;
      }
    }

    > .arrow {
      > svg {
        // fill: $pink-light;
      }
    }
  }
}