<main class="regflow center-container">

  <section class="modal regflow">
    <section class="welcome screen">
      <h4 class="first">Welcome to</h4>
      <h2 class="main">SuperWire</h2>

      <p>Superwire is network for researchers, readers, scientists, journalists and more. You only get real facts, researches and information.</p>
    </section>

    <form class="content">
      <button type="submit" class="waves-effect waves-light btn-large">
        Lets get started
      </button>
    </form>
  </section>

</main>