<div class="tabs-wrapper">
  <ul class="tabs center-container">
    <li class="tab col s2" (click)="activeCategory = category" *ngFor="let category of categories">
      <a class="" [ngClass]="{active: activeCategory === category}">
        {{category}}
      </a>
    </li>
  </ul>

  <hr class="line">
</div>

<div class="progress blue" *ngIf="!posts">
	<div class="indeterminate"></div>
</div>

<div class="newspaper grid center-container" *ngIf="posts">
	<div *ngFor="let post of posts | async | orderBy: ['-timestamp'] |
      searchPostTitle: search | searchCategory: activeCategory"
		  [ngClass]="{'high': post.priority === 'High'}">

		<a (click)="navigate('edit', post.$key)"
        *ngIf="User.password.email && FeedID == User.feed.id">
			<i class="black-text large mdi mdi-pencil"></i>
		</a>

		<a (click)="deleteModel(post.$key)"
        *ngIf="User.password.email && FeedID == User.feed.id">
			<i class="black-text large mdi mdi-delete"></i>
		</a>

		<div (click)="navigate('view', post.$key)">
			<i class="mdi {{'mdi-' + type}}" *ngFor="let type of post.types"></i>
			<span class="title">{{post.title}}</span>
		</div>

		<div><small>{{ returnMoment(post.timestamp) }}</small></div>
	</div>
</div>

<div id="deleteModel" class="modal">
	<div class="modal-content">
		<h4>Delete Post</h4>
		<p>Do you really want to delete the Post?</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-light btn-flat" (click)="deletePost()">Yes</a>
		<a class="modal-action modal-close waves-effect waves-light btn-flat">No</a>
	</div>
</div>

<div id="emailModel" class="modal account">
	<header>
    <h5 class="title">Authorize Email</h5>
	</header>

  <hr class="line">

	<div class="modal-content">
		<div class="row">
			<div class="input-field">
				<input type="email" class="validate" #email required value="">
				<label for="email">Email</label>
			</div>
		</div>

		<div class="error">
			<span class="red-text" id="errorEmail"></span>
		</div>

    <div class="modal-loading" *ngIf="emailLoading">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="line">

  <footer>
		<a class="waves-effect waves-blue btn white-text" (click)="checkEmail(email.value)">Load</a>
		<a class="waves-effect waves-blue btn white-text grey darken-1 right" (click)="closeEmail()">Back</a>
	</footer>

  <hr class="triple line">
</div>