header.feed-header {
  section.media {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 2.5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    a {
      margin-right: .25rem;
      overflow: hidden;

      &:last-child { margin-right: 0 }
    }
  }
}

main.feed {
  display: flex;
  justify-content: space-between;
}

h6.section-title {
  color: $blue-gray;
  font-size: 1em;
  text-transform: uppercase;
  margin: 4rem 0 1.25rem;
  line-height: 1;

  &:first-child { margin-top: 0 }
}

// info panel
aside.meta {
  min-width: 22rem;
  max-width: 22rem;

  .ad {
    margin-top: 1rem;
    text-align: center;

    img {
      width: 300px;
    }
  }
}

section.info-card {
  background-color: $dark-blue;
  box-shadow: rgba(180, 180, 180, .5) 2px 2px 15px;
  border-radius: 3px;
  color: white;
  padding: 1.5rem 1.5rem 2rem;
  overflow: hidden;

  > figure {
    margin: -1.5rem -1.5rem 1.5rem;
    width: calc(100% + 3rem);
    position: relative;
    min-height: 6rem;
    background-color: rgba(white, .15);

    > img {
      width: 100%;
      display: block;
    }

    > .dropdowns {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      right: 1.5rem;
      color: white;

      .right .btn-floating,
      .right.btn-floating {
        margin-left: .5rem;
      }

      .add-btn,
      .modify-btn,
      .share-btn {
        transition: opacity .2s;
        opacity: .5;
      }

      .share-btn {
        background-color: white;

        i {
          color: $dark-blue;
        }
      }

      .options-btn {
        opacity: 0;
        transition: opacity .2s;
        background-color: rgba($dark-blue, .5);
      }

      .dropdown-content {
        a {
          font-size: .8em;
        }
      }
    }
  }

  &:hover {
    .add-btn,
    .modify-btn,
    .share-btn,
    .options-btn {
      opacity: 1 !important;
    }
  }

  > .title {
    h5 {
      font-weight: 500;
      margin: 0;
      letter-spacing: 0.75px;
    }

    p {
      opacity: .5;
      font-size: .95em;
      margin-top: .25rem;
    }
  }

  > hr {
    margin: 1.5rem 0;
    opacity: .1;
    height: 1px;
    background-color: white;
  }

  > .labels {
    display: flex;
    justify-content: center;
    margin: 1.5rem -1.5rem;
    background-color: rgba(white, .1);
    padding: 1.5rem 0;

    > div {
      padding: 0 1.5rem;

      .label {
        display: block;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 300;
        opacity: .5;
        line-height: 1;

        &:first-child {
          margin-bottom: .5rem;
        }

        &:last-child {
          margin-top: .5rem;
        }
      }

      strong {
        display: block;
        font-size: 1.8rem;
        text-align: center;
        opacity: .85;
        line-height: 1;
        font-weight: 500;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:not(:last-child) {
        border-right: 1px solid rgba(white, .1);
      }
    }

    .likes {
      display: flex;
      align-items: flex-end;

      i {
        font-size: 1.8rem;
        opacity: .15;
        transition: .2s color, .2s opacity;
        cursor: pointer;

        &:hover {
          opacity: .3;
        }
        &.active {
          opacity: 1;
        }

        &:first-child {
          margin-right: .5rem;
        }
        &:last-child {
          margin-left: .5rem;
        }
      }
    }
  }

  .section-title {
    color: rgba(white, .5);
    margin-bottom: .75rem;
    font-size: .85em;
    display: block;
  }

  .author {
    display: flex;
    align-items: center;
    line-height: 1;
    margin-top: 1rem;
    cursor: pointer;

    img {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: .6rem;
      transition: .2s transform;
    }

    &:hover img {
      transform: scale(1.2);
    }

    h6 {
      font-weight: bold;
      font-size: .9em;
      opacity: .75;
      margin: 0;
      margin-bottom: .25rem;
    }

    span {
      opacity: .25;
      font-size: .8em;
    }
  }

  .contributors {
    img {
      max-width: 2rem;
      margin-right: .5rem;
      transition: .2s transform;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// posts content
section.posts {
  flex: 1;
  padding: 0 1rem;

  &:not(:last-child) {
    border-right: 1px solid darken($tabs-bg-color, 5%);
  }
}

article.post {
  padding: 1rem;
  cursor: pointer;
  border-radius: 3px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  img {
    max-width: 15%;
    float: right;
    margin-left: 1rem;
  }

  &:last-child { border-bottom: 0; }

  .title {
    font-size: 1.25em;
  }

  p {
    font-size: .9em;
    opacity: .65;
  }

  &.high {
    font-size: 1.15em;
    background: rgba($tertiary-color, .25);

    + .high {
      margin-bottom: -1px;
    }

    .title {
      font-size: 1.35em;
      font-weight: 500;
    }

    &:hover {
      background: rgba($tertiary-color, .5);
    }
  }

  footer {
    opacity: .45;
    font-size: .8em;

    span, time, i {
      display: inline-block;
      vertical-align: middle;
    }

    span:not(.owner) {
      opacity: .75;
      margin: 0 .25rem;
    }

    time,
    .owner {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title, p, footer {
    transition: padding .2s;
  }

  transition: background-color .2s;

  &:hover {
    background-color: $light-gray;

    .title {
      padding-left: .5rem;
    }

    p {
      padding-left: .75rem;
    }

    footer {
      padding-left: 1rem;
    }
  }
}

// activities
aside.activities {
  min-width: 14rem;
  max-width: 14rem;
  padding-left: 1.5rem;
  opacity: .5;
  transition: opacity .2s;
  text-align: right;

  &:hover {
    opacity: 1;
  }

  .section-title {
    margin: 0;
  }

  dl {
    dt {
      color: rgba($blue-gray, .6);
      padding: .5rem 0;
      font-size: .9em;

      a {
        color: $blue-gray;
      }

      time {
        display: block;
      }
    }
  }
}

// sharing
.share {
  flex: 1;
  text-align: right;

  svg {
    width: 2.25em;
    height: 2.25em;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;

  a {
    margin-right: 1.15rem;
  }

  .url {
    margin-left: .25rem;
    background-color: lighten($blue-gray, 35%);
    border-radius: 3px;
    overflow: hidden;
    display: flex;

    span {
      padding: .4rem .5rem;
      display: inline-block;
      color: rgba($blue-gray, .85);
    }

    button {
      appearance: none;
      border: 0;
      background: rgba($blue-gray, .15);
      color: $blue-gray;
    }
  }
}
