.newspaper.grid {
  column-rule: 1px solid $mid-gray;
  column-gap: 3rem;

  & > div {
    padding: .5rem .8rem;
    border-radius: 3px;
    transition: 0.1s linear background-color;
    color: black;
    position: relative;
    margin-bottom: 2rem;

    img {
      max-width: 35%;
      float: left;
      margin-right: 1rem;
    }

    .title {
      font-size: 1.1em;
      line-height: 1.4;
      color: rgba(black, 0.7);
      margin-top: 0;
      cursor: pointer;
    }

    time {
      font-size: .9em;
      color: rgba(black, 0.4);
    }

    &:hover {
      background-color: $posts-hover-background;
    }

    &.high {
      img {
        max-width: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
      }

      .title {
        span {
          // background-color: $posts-highlight-background;
          font-size: 1.4em;
          font-weight: 500;
          // background-color: $mid-gray;
        }
      }

      &:hover {
        // background-color: $posts-highlight-hover-background;
      }
    }

    &:after {
      // content: '***';
      // letter-spacing: 2.5px;
      content: '';
      display: block;
      text-align: center;
      font-size: 12px;
      position: absolute;
      width: 2rem;
      border-top: 1px solid $mid-gray;
      bottom: -1rem;
      margin-left: -1rem;
      left: 50%;
    }
  }
}