<div class="tabs-wrapper">
  <ul class="tabs center-container">
    <li class="tab col s2" (click)="activeCategory = category" *ngFor="let category of categories">
      <a class="" [ngClass]="{active: activeCategory === category}">
        {{category}}
      </a>
    </li>
  </ul>

  <hr class="line">
</div>

<div class="progress blue" *ngIf="!posts">
	<div class="indeterminate"></div>
</div>

<header class="feed-header">
  <div class="cover"><img src="http://lorempixel.com/900/180/?random=superteam" alt=""></div>

  <div class="info center-container">
    <div class="title">
      <time>2 months ago</time>
      <h5>WikiLeaks</h5>
    </div>

    <div class="likes">
      <i class="mdi mdi-thumb-up" (click)="voteUp()"></i>
      <div>
        <span class="label">likes</span>
        <strong>77</strong>
      </div>
      <i class="mdi mdi-thumb-down" (click)="voteDown()"></i>
    </div>

    <div class="posts">
      <span class="label">posts</span>
      <strong>10</strong>
    </div>

    <div class="share hide">
      <span class="label">share</span>
      <i class="social-icon facebook"></i>
      <i class="social-icon twitter"></i>
      <i class="social-icon linkedin"></i>
      <i class="social-icon google-plus"></i>

      <label>
        <input type="text">
        <button>
          <i class="mdi mdi-content-copy"></i>
        </button>
      </label>
    </div>

    <div class="author">
      <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png">
      <div>
        <h6>Nika</h6>
        <span>@nikoloza</span>
      </div>
    </div>
  </div>
</header>

<div class="feed center-container hide" *ngIf="posts">
  <div class="posts">
    <article *ngFor="let post of posts | async | orderBy: ['-timestamp'] |
        searchPostTitle: search | searchCategory: activeCategory"
        [ngClass]="{'high': post.priority === 'High'}" class="post">

  		<a (click)="navigate('edit', post.$key)"
          *ngIf="User.password.email && FeedID == User.feed.id">
  			<i class="black-text large mdi mdi-pencil"></i>
  		</a>

  		<a (click)="deleteModel(post.$key)"
          *ngIf="User.password.email && FeedID == User.feed.id">
  			<i class="black-text large mdi mdi-delete"></i>
  		</a>

  		<h5 class="title" (click)="navigate('view', post.$key)">
  			<i class="mdi {{'mdi-' + type}}" *ngFor="let type of post.types"></i>
  			<span class="title">{{post.title}}</span>
  		</h5>

  		<time>{{ returnMoment(post.timestamp) }}</time>

      <!-- <img class="responsive-img" [src]="'http://lorempixel.com/600/200/?random='+post.timestamp%20" alt="Background Image"> -->
  	</article>
  </div>

  <!-- <aside class="activities">activities</aside> -->
</div>

<div id="deleteModel" class="modal">
	<div class="modal-content">
		<h4>Delete Post</h4>
		<p>Do you really want to delete the Post?</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-light btn-flat" (click)="deletePost()">Yes</a>
		<a class="modal-action modal-close waves-effect waves-light btn-flat">No</a>
	</div>
</div>

<div id="emailModel" class="modal account">
	<header>
    <h5 class="title">Authorize Email</h5>
	</header>

  <hr class="line">

	<div class="modal-content">
		<div class="row">
			<div class="input-field">
				<input type="email" class="validate" #email required value="">
				<label for="email">Email</label>
			</div>
		</div>

		<div class="error">
			<span class="red-text" id="errorEmail"></span>
		</div>

    <div class="modal-loading" *ngIf="emailLoading">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="line">

  <footer>
		<a class="waves-effect waves-blue btn white-text" (click)="checkEmail(email.value)">Load</a>
		<a class="waves-effect waves-blue btn white-text grey darken-1 right" (click)="closeEmail()">Back</a>
	</footer>

  <hr class="triple line">
</div>