.orangeColor {
    color: orange;
}

.redColor {
    color: red;
}

.nomargin {
    margin: 0px;
}

.nopadding {
    padding: 0px;
}

.padding10px {
    padding: 10px ! important;
}

.nobackground {
    background-color: transparent;
}

.layout {
    display: flex
}

.layout-row {
    display: flex;
    flex-direction: row;
}

.layout-column {
    display: flex;
    flex-direction: column;
}

.layout-align-space-between-center {
    justify-content: space-between;
    align-items: center;
}
