.newspaper.grid {
  column-rule: 1px solid $mid-gray;
  column-gap: 3rem;

  & > div {
    padding: .5rem .8rem;
    margin-bottom: .5rem;
    border-radius: 3px;
    transition: 0.1s linear background-color;
    color: black;

    img {
      max-width: 44%;
    }

    &:hover {
      background-color: $posts-hover-background;
    }

    &.high {
      background-color: $posts-highlight-background;

      &:hover {
        background-color: $posts-highlight-hover-background;
      }
    }
  }
}