<div class="progress blue" *ngIf="!posts">
	<div class="indeterminate"></div>
</div>

<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s2" *ngFor="let category of categories" (click)="activeCategory = category"><a class="" [ngClass]="{active: activeCategory === category}"> {{category}} </a></li>
		</ul>
	</div>
	<div class="col s12">
		<div class="fixed-action-btn horizontal" style="bottom: 25px; right: 25px;" *ngIf="User.password.email && FeedID == User.feed.id">
			<a class="btn-floating btn-large waves-effect waves-light deep-purple" (click)="navigate('new')"><i class="large mdi mdi-plus"></i></a>
		</div>
		<div class="card-panel hoverable padding10px layout-row layout-align-space-between-center">
			<div><em>Share Link:&nbsp;</em><span #domain>{{Domain + '/posts/' + FeedID}}</span></div>
			<a class="waves-effect waves-light btn right indigo" [clipboard]="domain">Copy</a>
			<div>
				<a class="btn-floating waves-effect waves-light indigo"><i class="mdi mdi-thumb-down right" (click)="voteDown()"></i></a>
				<a class="btn-floating waves-effect waves-light indigo"><i class="mdi mdi-thumb-up right" (click)="voteUp()"></i></a>
			</div>
		</div>
		<div class="row">
			<h3 class="col s1 nomargin"><i class="mdi mdi-magnify"></i></h3>
			<div class="col s11 input-field nomargin">
				<input type="text" [(ngModel)]="search" class="validate nomargin" placeholder="Search">
			</div>
		</div>
		<div class="row">
			<ul class="collection" *ngIf="posts">
				<li class="collection-item" *ngFor="let post of posts | async | orderBy: ['-timestamp'] | searchPostTitle: search | searchCategory: activeCategory"
					[ngStyle]="{'background-color': (post.priority == 'High' ? '#ff4d4d' : (post.priority == 'Medium' ? '#ffa64d' : '#4da6ff')) }">
					<a class="btn secondary-content nobackground nopadding" (click)="navigate('edit', post.$key)" *ngIf="User.password.email && FeedID == User.feed.id">
						<i class="black-text large mdi mdi-pencil"></i>
					</a>
					<a class="btn secondary-content nobackground nopadding" (click)="deleteModel(post.$key)" *ngIf="User.password.email && FeedID == User.feed.id"
						style="margin-right: 20px;">
						<i class="black-text large mdi mdi-delete"></i>
					</a>
					<div (click)="navigate('view', post.$key)">
						<i class="mdi {{'mdi-' + type}}" *ngFor="let type of post.types"></i>
						<span class="title">{{post.title}}</span>
					</div>
					<div><small>{{returnMoment(post.timestamp)}}</small></div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="deleteModel" class="modal">
	<div class="modal-content">
		<h4>Delete Post</h4>
		<p>Do you really want to delete the Post?</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-light btn-flat" (click)="deletePost()">Yes</a>
		<a class="modal-action modal-close waves-effect waves-light btn-flat">No</a>
	</div>
</div>

<div id="emailModel" class="modal account">
	<header>
    <h5 class="title">Authorize Email</h5>
	</header>

  <hr class="line">

	<div class="modal-content">
		<div class="row">
			<div class="input-field">
				<input type="email" class="validate" #email required value="">
				<label for="email">Email</label>
			</div>
		</div>

		<div class="error">
			<span class="red-text" id="errorEmail"></span>
		</div>

    <div class="modal-loading" *ngIf="emailLoading">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="line">

  <footer>
		<a class="waves-effect waves-blue btn white-text" (click)="checkEmail(email.value)">Load</a>
		<a class="waves-effect waves-blue btn white-text grey darken-1 right" (click)="closeEmail()">Back</a>
	</footer>
</div>