<div class="row" *ngIf="!editMode && profile">
    <div class="col s12 card padding10px">
        <div class="jumbo"></div>
        <div class="container icons">
            <div class="big-icon" *ngIf="profile.profileImageURL">
                <img [src]="profile.profileImageURL" alt="User Profile Image" class="circle col s12" (click)="pictureModelOpen();">
            </div>
            <div class="big-icon" *ngIf="profile.email && !profile.profileImageURL">
                <i class="black-text mdi mdi-account circle col s12" (click)="pictureModelOpen();" style="font-size: 10em;"></i>
            </div>
            <div class="rate" *ngIf="!editMode && profile">
                <a class="star-btn add-btn btn-floating btn-large waves-effect waves-light blue darken-1"><i class="mdi mdi-star"></i></a>
                <a class="like-btn add-btn btn-floating btn-large waves-effect waves-light blue darken-1"><i class="mdi mdi-thumb-up"></i></a>
            </div>
            <div class="add" *ngIf="profile && User.uid === profile.uid && !editMode">
                <a class="btn-floating btn-large waves-effect waves-light deep-purple" (click)="edit()"><i class="large mdi mdi-pencil"></i></a>
            </div>
        </div>
        <div class="details">
            <h3>{{profile.displayName || profile.email}}</h3>
            <div *ngIf="profile && profile.feedName">
                <h5>{{profile.feedName}}</h5>
            </div>
            <div *ngIf="profile && profile.feedId">
                <a [routerLink]="['/posts', profile.feedId]">{{domain + '/posts/' + profile.feedId}}</a>
            </div>
        </div>
        <div class="container bio" *ngIf="profile && profile.bio">
            <div class="title">
                <h6>Biography</h6>
            </div>
            <div class="content" *ngIf="profile && profile.bio">
                <p>{{profile.bio}}</p>
            </div>
            <hr />
        </div>
    </div>
    <div class="fixed-action-btn fab" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="large mdi mdi-chevron-down"></i>
        </a>
        <ul>
            <li><a class="btn-floating orange"><i class="mdi mdi-thumb-up"></i></a></li>
            <li><a class="btn-floating green"><i class="mdi mdi-star"></i></a></li>
            <li><a class="btn-floating blue"><i class="mdi mdi-open-in-new"></i></a></li>
            <li><a class="btn-floating purple" *ngIf="profile && User.uid === profile.uid && !editMode" (click)="edit()"><i class="mdi mdi-pencil"></i></a></li>
        </ul>
    </div>
</div>
<div class="row" *ngIf="editMode">
    <form class="col s12 card padding10px">
        <div class="row valign-wrapper">
            <img [src]="profile.profileImageURL" alt="User Profile Image" class="circle col s1">
            <h5 class="col s10 valign">{{profile.displayName || profile.email}}</h5>
            <h5>Followers(5)</h5>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="bio" #bio class="materialize-textarea"></textarea>
                <label for="bio">Bio</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input id="feedId" #feedId type="text" class="validate">
                <label for="feedId">Feed ID</label>
            </div>
            <div class="input-field col s8">
                <input id="feedName" #feedName type="text" class="validate">
                <label for="feedName">Feed Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="description" #description type="text" class="validate">
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <span class="paddingright10px">Private?</span>
                <input type="radio" id="pyes" #pyes name="private" />
                <label class="paddingright10px" for="pyes">Yes</label>
                <input type="radio" id="pno" #pno name="private" />
                <label for="pno">No</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select id="category" #category>
                    <option disabled selected>Select Category</option>
                    <option value="Marketing">Marketing</option>
                    <option value="News">News</option>
                    <option value="Visuals">Visuals</option>
                    <option value="Data">Data</option>
                    <option value="Misc">Misc</option>
                </select>
                <label for="category">Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <tag-input  placeholder="Add Post Category" [tagArray]="postCategoryList" (updatedList)="tagInputEventCatch($event);"> </tag-input>
            </div>
        </div>
        <!--<div class="row">
            <div class="input-field col s12">
                <input id="postcategory" #postCategory type="text" class="validate">
                <label for="postcategory">Add Post Category</label>
            </div>
            <div class="col s1">
                <a class="btn-floating btn-large waves-effect waves-light deep-purple" (click)="addPostCategory(postCategory)"><i class="large mdi mdi-plus"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="chip" *ngFor="let category of postCategoryList">
                {{category}}
                <i class="mdi mdi-close" (click)="removePostCategory('list', category)"></i>
            </div>
            <div class="chip" *ngFor="let category of postCategoryNew">
                {{category}}
                <i class="mdi mdi-close" (click)="removePostCategory('new', category)"></i>
            </div>
        </div>-->
        <div class="row center-align">
            <span class="red-text" id="errorPostCategory"></span>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <tag-input  placeholder="Add Authorized Email" [tagArray]="authList" [allowedTagsPattern]="validEmailPattern" (updatedList)="emailInputEventCatch($event);"> </tag-input>
            </div>
        </div>
        <!--<div class="row">
            <div class="input-field col s11">
                <input id="authemail" #authEmail type="text" class="validate">
                <label for="authemail">Add Authorized Email</label>
            </div>
            <div class="col s1">
                <a class="btn-floating btn-large waves-effect waves-light deep-purple" (click)="addAuthEmail(authEmail)"><i class="large mdi mdi-plus"></i></a>
            </div>
        </div>
        <div class="row">
            <ui class="col s12 collection">
                <li class="coolection-item" *ngFor="let email of authList">
                    {{email}}
                </li>
                <li class="coolection-item" *ngFor="let email of authNew">
                    {{email}}
                </li>
            </ui>
        </div>-->
        <div class="row center-align">
            <span class="red-text" id="errorProfile"></span>
        </div>
        <div class="row">
            <div class="col s12 layout-row layout-align-space-between-center">
                <button class="waves-effect waves-light btn" (click)="confirmDelete()">Delete</button>
                <div class="preloader-wrapper small active" *ngIf="profileLoading">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" (click)="update(bio, feedId, feedName, description, pyes, pno, category)">Update</button>
            </div>
        </div>
    </form>
</div>

<div id="confirmDeleteModel" class="modal" style="width: 40% ! important">
    <div class="modal-content">
        <div class="row">
            <h4>Do you really want to Delete this Feed?</h4>
            <h6>Note: It wil also delete your profile and user account.</h6>
        </div>
        <div class="row center-align">
            <span class="red-text" id="errorDelete"></span>
        </div>
        <div class="row">
            <div class="col s12 layout-row layout-align-space-between-center">
                <a class="waves-effect waves-blue btn white-text" (click)="delete('yes')">Yes</a>
                <div class="preloader-wrapper small active" *ngIf="deleteLoading">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <a class="waves-effect waves-blue btn white-text" (click)="delete('no')">No</a>
            </div>
        </div>
    </div>
</div>

<div id="pictureModal" class="modal">
    <form class="modal-content">
        <div class="nav-wrapper center-align">
            <h2 class="purple-text">Profile Image</h2>
        </div>
        <div class="row center-align" class="flexCenter">
            <input id="custom-input" type="file" class="displayNone" #fileInput (change)="fileChangeListener($event)">
            
            <div *ngIf="!profile?.profileImageURL">
                <div [hidden]="!imageSelected">
                    <i class="black-text mdi mdi-account circle col s12" (click)="fileInput.click(); imageSelected=false;" style="font-size: 10em;"></i>
                </div>
            </div>

            <div *ngIf="profile?.profileImageURL">
                <div [hidden]="!imageSelected">
                    <img [src]="profile.profileImageURL" alt="User Profile Image" class="circle col s12 rounded" (click)="fileInput.click(); imageSelected=false;">
                </div>
            </div>

            <div [hidden]="imageSelected">
                <img-cropper id="imgCropper" #cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
            </div>
         
        </div>
        <div class="row center-align">
            <span class="red-text" id="errorLogin"></span>
        </div>
        <div class="modal-footer">
            <div class="preloader-wrapper small active" *ngIf="imageUploading">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <button type="button" class="waves-effect waves-blue btn white-text" (click)="uploadProfileImage();" [disabled]="!data.image">Upload</button>
            <button type="button" class="waves-effect waves-blue btn white-text" (click)="pictureModelClose();">CANCEL</button>
        </div>
    </form>
</div>