.padding10px {
    padding: 10px;
}

.paddingright10px {
    padding-right: 10px;
}

.layout-row {
    display: flex;
    flex-direction: row;
}

.layout-align-space-between-center {
    justify-content: space-between;
    align-items: center;
}

.flexCenter {
  display:flex;
  justify-content: center;
}

.displayNone {
  display: none;
}

.jumbo {
  width: 100%;
  height: 200px;
  background: url("https://unsplash.it/300/200/?random") center center no-repeat;
  background-size: cover;
}

.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: left;
}
.icons .big-icon {
  position:relative;
  width: 180px;
  height: 180px;
  margin-top: -90px;
  cursor:pointer;
}
.big-icon:hover .edit {display:block;}
.edit {
  display:none;
  position:absolute;
  width: 180px;
  height: 180px;
  left:0;
  top: 0;
}
.icons .big-icon:hover {opacity:.7;}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.details h3 {
  color: #212121;
  font-size: 28px;
  margin-top: 10px;
}
.details p {
  color: #727272;
  margin-top: 0px;
}
main .bio {
  margin-bottom: 80px;
}
.bio .title h6 {
  color: #212121;
  font-size: 18px;
}
.bio .content p {
  color: #727272;
}

.fab {
  -webkit-transition: all 120ms ease-in-out;
  transition: all 120ms ease-in-out;
  bottom: 20px !important;
}
.fab .btn-large i {
  font-size: 40px;
}
.fab .orange i {
  font-size: 20px;
}

.rounded {
  border-radius: 50%;
  width: 170px !important;
  height: auto;
}


.zindex9000 {
  z-index: 9000;
}

.zindex9001 {
  z-index: 9001;
}

.zindex9999 {
  z-index: 9999 !important;
}
