<!-- <div class="tabs-wrapper">
  <ul class="tabs center-container">
    <li class="tab col s2" (click)="activeCategory = category" *ngFor="let category of categories">
      <a class="" [ngClass]="{active: activeCategory === category}">
        {{category}}
      </a>
    </li>
  </ul>

  <hr class="line">
</div>

<div class="progress blue" *ngIf="!profile">
  <div class="indeterminate"></div>
</div> -->

<main class="profile" *ngIf="!editMode && profile">
  <header class="center-container">
    <section class="avatar">
      <img [src]="profile.profileImageURL" alt="User Profile Image">
      <div>
        <!-- <h4>{{profile.displayName || profile.email}}</h4> -->
        <h4>{{profile.feedName}}</h4>
        <span>@{{profile.feedId}}</span>
      </div>
    </section>

    <div class="cover">
      <img [src]="profile.backgroundImageURL" alt="{{profile.feedName}}">
    </div>

    <section class="meta">
      <div class="description">
        <h6>Biography</h6>
        <p>{{profile.bio}}
          <!-- <a>More</a> -->
        </p>
      </div>
      <div>
        <h6>Interests</h6>
        <p>Analythics, Politics</p>
      </div>
      <div>
        <h6>Followers</h6>
        <h4>{{followers.length}}</h4>
      </div>
      <div>
        <h6>Following</h6>
        <h4>{{following.length}}</h4>
      </div>
      <div>
        <h6>Posts</h6>
        <h4>{{ (posts | async)?.length }}</h4>
      </div>
    </section>

    <button class="follow waves-effect waves-light btn-large">
      <i class="mdi mdi-plus-circle"></i>
      Follow
    </button>
  </header>

  <hr class="line">

  <div class="content">
    <div class="center-container">
      <aside class="activity">
        <header>
          <h6 class="section-title">Activity chart</h6>
          <select (change)="changeGraph($event.target.value)">>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
          </select>
        </header>

        <section class="graph">
          <dl *ngFor="let month of monthGraph; let i = index;">
            <dt>{{ monthList[i] }}</dt>
            <dd *ngFor="let d of month" [ngClass]="{'empty': !d}"></dd>
          </dl>
        </section>
      </aside>

      <section class="reviews">
        <h6 class="section-title">Reviews</h6>

        <article class="review">
          <h5>Super Awesome</h5>
          <div class="info">
            <div class="rating">
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>

              <div class="active" style="width: 90%">
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              </div>
            </div>
            <a class="author">@nikoloza</a>
            <time>15 mins ago</time>
          </div>
          <p>It’s getting crowded in the investment crowdfunding space, and that’s excellent news.</p>
        </article>

        <article class="review">
          <h5>Really nice feed</h5>
          <div class="info">
            <div class="rating">
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>

              <div class="active" style="width: 80%">
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              </div>
            </div>

            <a class="author">@jairo</a>
            <time>56 mins ago</time>
          </div>
          <p>Thousand of white balloons, suspended in a billowing wash of sound</p>
        </article>

        <article class="review">
          <h5>Fantastic!!</h5>
          <div class="info">
            <div class="rating">
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>

              <div class="active" style="width: 100%">
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
                <svg viewBox="0 0 18 18"><use xlink:href="#star"></use></svg>
              </div>
            </div>

            <a class="author">@jairo</a>
            <time>1 hour ago</time>
          </div>
          <p>Thousand of white balloons, suspended in a billowing wash of sound</p>
        </article>
      </section>

      <section class="meta">
        <h6 class="section-title">More content</h6>
        <div class="links">
          <a href="">Home Feed</a>
          <a href="">Followers’ feed</a>
        </div>

        <div class="activities">
          <h6 class="section-title">Activities</h6>
          <dl>
            <dt><a>@jairo</a> liked this feed
              <time>2 hours ago</time>
            </dt>
            <dt><a>@nikoloza</a> liked this feed
              <time>3 hours ago</time>
            </dt>
          </dl>
        </div>
      </section>
    </div>
  </div>
</main>

<!-- svg sprite -->
<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
  <polygon id="star" fill="currentColor" fill-rule="evenodd" points="99.739 49.5 94.311 52.281 95.348 46.391 90.956 42.219 97.025 41.359 99.739 36 102.453 41.359 108.522 42.219 104.13 46.391 105.167 52.281" transform="translate(-91 -36)"/>
</svg>
