
<main class="feed center-container">

<h4>My Community Feed</h4>
  <section class="posts" *ngIf="subscription">
    <!-- posts -->
    <article *ngFor="let post of subscription | orderBy: ['-timestamp'] |
        searchPostTitle: search | searchCategory: activeCategory" [ngClass]="{'high': post.priority === 'High'}" class="post" (click)="navigate('view', post.$key)">
      <img *ngIf="parseImgUrl(post.detail)" [src]="parseImgUrl(post.detail)">

      <h6 class="title">{{ post.title }}</h6>
      <p [innerHTML]="parseShortDescription(post.detail)"></p>

      <footer>
        <i class="mdi {{'mdi-' + type}}" *ngFor="let type of post.types"></i>
        <span> • </span>
        <time>{{ returnMoment(post.timestamp) }}</time>
        <span> • </span>
        <span [routerLink]="['/profile/', post.owner.userid]" class="owner">
          {{ post.owner.userid }}
        </span>
      </footer>
    </article>
  </section>
</main>

<!--<div class="subscription">
	<h4>Subscription</h4>
	<hr/>
	<div class="row" *ngIf="subsObservable">
		<ul class="collection" *ngFor="let posts of (subsObservable | async)">
			<li class="collection-item" *ngFor="let post of posts | async | orderBy: ['-timestamp']" [ngStyle]="{'background-color': (post.priority == 'High' ? '#ff4d4d' : (post.priority == 'Medium' ? '#ffa64d' : '#4da6ff')) }">
				<div (click)="navigate(post.$key)">
					<i class="mdi {{'mdi-' + type}}" *ngFor="let type of post.types"></i>
					<span class="title">{{post.title}}</span>
				</div>
				<div>
					<small>{{returnMoment(post.timestamp)}}</small>
				</div>
			</li>
		</ul>
	</div>
</div>-->
<!--
	<div class="row" *ngIf="(subsObservable | async)?.length == 0">
		No Subscription has found (temporary meesage)
	</div>
-->