@import '../../../node_modules/materialize-css/sass/materialize';
@import '../../../node_modules/materialize-tags/dist/css/materialize-tags';
@import '../../../node_modules/mdi/scss/materialdesignicons';
@import '../materialize/grid';
@import '../materialize/tabs';
@import '../materialize/cards';
@import '../materialize/helpers';

.nopadding {
    padding: 0px ! important;
}

.nomargin {
    margin: 0px ! important;
}

.fullHeight {
    height: 100vh;
}

.padding10px {
    padding: 10px;
}















// @font-face {
//   font-family: 'Roboto';
//   src: local(Roboto-Bold), url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Bold.eot");
//   src: url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Bold.eot?") format("embedded-opentype"), 
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Bold.ttf") format("truetype"),
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Bold.woff") format("woff"),
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Bold.woff2") format("woff2"); 
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Roboto';
//   src: local(Roboto-Light), url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Light.eot");
//   src: url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Light.eot?") format("embedded-opentype"), 
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Light.ttf") format("truetype"),
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Light.woff") format("woff"),
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Light.woff2") format("woff2"); 
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Roboto';
//   src: local(Roboto-Medium), url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Medium.eot");
//   src: url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Medium.eot?") format("embedded-opentype"), 
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Medium.ttf") format("truetype"),
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Medium.woff") format("woff"),
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Medium.woff2") format("woff2"); 
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Roboto';
//   src: local(Roboto-Regular), url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Regular.eot");
//   src: url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Regular.eot?") format("embedded-opentype"), 
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Regular.ttf") format("truetype"),
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Regular.woff") format("woff"),
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Regular.woff2") format("woff2"); 
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Roboto';
//   src: local(Roboto-Thin), url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Thin.eot");
//   src: url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Thin.eot?") format("embedded-opentype"), 
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Thin.ttf") format("truetype"),
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Thin.woff") format("woff"),
//        url("../../../node_modules/materialize-css/fonts/roboto/Roboto-Thin.woff2") format("woff2"); 
//   font-weight: normal;
//   font-style: normal;
// }
