@import '../materialize/colors';
@import '../materialize/variables';

@import '../../../node_modules/materialize-css/sass/materialize';
@import '../../../node_modules/materialize-tags/dist/css/materialize-tags';
@import '../../../node_modules/mdi/scss/materialdesignicons';

@import '../materialize/index';

@import '../navbar/navbar';

@import '../posts/posts';
@import '../viewpost/viewpost';
@import '../feeds/feeds';

@import '../uikit/uikit';

.center-container {
  max-width: $center-container-size;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}