<div class="progress" *ngIf="feeds.length == 0">
    <div class="indeterminate"></div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2" (click)="activeCategory = category" *ngFor="let category of categories" ><a class="" [ngClass]="{active: activeCategory === category}"> {{category}} </a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col l3 s10" *ngFor="let feed of feeds | async | orderBy: ['-timestamp'] | searchCategory: activeCategory">
        <div class="card deep-purple lighten-1">
            <div [routerLink]="['/Posts', { feedid: feed.$key }]">
                <div class="right white-text" style="position: relative; top: 10px; right: 15px;">
                    {{returnMoment(feed.timestamp)}}
                </div>
                <div class="card-content white-text">
                    <span style="cursor:pointer" class="card-title">{{feed.feedName}}</span>
                    <p>{{feed.description}}</p>
                </div>
            </div>
            <div class="card-action pink lighten-2 layout-row layout-align-space-between-center">
                <span style="cursor:pointer" class="white-text" [routerLink]="['/Profile', { userid: feed.owner.userid }]">@{{feed.owner.userid}}</span>
                <span class="white-text" *ngIf="feed.likes">Upvotes({{feed.likes}})</span>
                <i class="white-text mdi mdi-lock" *ngIf="feed.private === 'true'"></i>
            </div>
        </div>
    </div>
</div>