<nav>
  <div class="nav-wrapper center-container">
    <a class="back" (click)="navigate()" *ngIf="activePage.title!=='Latest feeds'">
      <i class="mdi mdi-arrow-left"></i>
    </a>

    <a (click)="navigate()" class="logo">
      <img src="assets/logo-white.svg" alt="">
    </a>

    <div class="vertical-separator hide-on-small-and-down"></div>

    <div class="space hide-on-med-and-up"></div>

    <a (click)="home()" class="brand-logo">
      {{activePage.title}}
    </a>

    <div class="space"></div>

    <form class="searchbar hide-on-small-and-down">
      <input type="search" placeholder="Search">
      <button>
        <i class="mdi mdi-magnify"></i>
      </button>
    </form>

    <a data-activates="slide-out" class="button-collapse right">
      <i class="mdi mdi-dots-vertical"></i>
    </a>

  </div>
</nav>

<aside class="side-nav" id="slide-out">
  <form class="searchbar hide-on-med-and-up">
    <input type="search" placeholder="Search">
    <button>
      <i class="mdi mdi-magnify"></i>
    </button>
  </form>

  <!-- if not logged in -->
  <ul *ngIf="!User.password.email">
    <li>
      <a (click)="loginModal()">Login</a>
    </li>
    <li>
      <a (click)="registerModal()">Create feed</a>
    </li>
  </ul>

  <!-- if logged in -->
  <ul *ngIf="User.password.email">
    <li class="userView" [routerLink]="['/profile', User.feed.userid]">
      <div class="background">
        <!-- temporary placeholder image -->
        <img src="http://materializecss.com/images/office.jpg">
      </div>
      <a>
        <img *ngIf="User.password.profileImageURL"
            [src]="User.password.profileImageURL"
            alt="User Profile Image" class="circle">
        <i *ngIf="User.password.email && !User.password.profileImageURL"
            class="mdi mdi-account avatar circle"></i>
      </a>
      <a>
        <span class="white-text name">{{User.feed.userid}}</span>
      </a>
      <a>
        <span class="white-text email">{{User.password.email}}</span>
      </a>
    </li>

    <li>
      <a (click)="logout()">Logout</a>
    </li>
  </ul>
</aside>

<div id="loginModal" class="modal account login">
  <header>
    <h5 class="title">Login</h5>
    <div class="logo">
      <img src="assets/logo.svg" alt="">
      <span>SuperWire</span>
    </div>
  </header>

  <hr class="line">

  <form class="modal-content" novalidate #l="ngForm" (submit)="login(l.value)">
    <div class="row">
      <div class="input-field">
        <input type="email" class="validate" #email="ngModel" name="email" [ngModel]="e" required pattern=".+\@.+\..+">
        <label for="email">Email</label>
        <small class="invalid-test" [hidden]="email.valid || (email.pristine && !l._submitted)">
          Email is required and format should be <i>john@doe.com</i>.
        </small>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="password" class="validate" #password="ngModel" name="password" [ngModel]="p" required minlength="6">
        <label for="password">Password</label>
        <small class="invalid-test" [hidden]="password.valid || (password.pristine && !l._submitted)">
          Password is required (minimum 6 characters).
        </small>
      </div>
    </div>

    <button type="submit" class="waves-effect waves-blue btn-large submit" [disabled]="!l.valid">Login</button>

    <div class="error">
      <span class="red-text" id="errorLogin"></span>
    </div>

    <div class="modal-loading" *ngIf="loginLoading">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <hr class="line">

  <footer>
    <h6>Problems with signing in?</h6>
    <button class="btn" (click)="registerModal()">Sign up</button> or
    <a>recover password</a>
  </footer>

  <hr class="triple line">
</div>

<div id="registerModal" class="modal account register">
  <header>
    <h5 class="title">Signup</h5>
    <div class="logo">
      <img src="assets/logo.svg" alt="">
      <span>SuperWire</span>
    </div>
  </header>

  <hr class="line">

  <form class="modal-content" novalidate #f="ngForm" (submit)="register(f.value)">
    <div class="row">
      <div class="input-field">
        <input type="text" class="validate" #regUserID="ngModel" name="name" [(ngModel)]="n" required>
        <label for="reqUserID">User ID</label>
        <small class="invalid-test" [hidden]="regUserID.valid || (regUserID.pristine && !f._submitted)">
          Name is required.
        </small>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" class="validate" #regEmail="ngModel" name="email" [ngModel]="e" required pattern=".+\@.+\..+">
        <label for="regEmail">Email</label>
        <small class="invalid-test" [hidden]="regEmail.valid || (regEmail.pristine && !f._submitted)">
          Email is required and format should be <i>john@doe.com</i>.
        </small>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="password" class="validate" #regPassword="ngModel" name="password" [ngModel]="p" required minlength="6">
        <label for="regPassword">Password</label>
        <small class="invalid-test" [hidden]="regPassword.valid || (regPassword.pristine && !f._submitted)">
          Password is required (minimum 6 characters).
        </small>
      </div>
    </div>

    <button type="submit" class="waves-effect waves-blue white-text btn-large submit" [disabled]="!f.valid">Create account</button>

    <div class="error">
      <span class="red-text" id="errorLogin"></span>
    </div>

    <div class="modal-loading" *ngIf="loginLoading">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <hr class="line">

  <footer>
    <h6>Do you already have an account?</h6>
    <button class="btn" (click)="loginModal()">Login</button> Or
    <a href="#">recover password</a>
  </footer>

  <hr class="triple line">
</div>