.avatar {
  max-height: 55px;
  padding: 0 10px;
}

.profile {
  max-height: 40px;
  padding: 0 10px;
  margin-top: 10px;
}

.padding10px {
  padding: 10px;
}

.invalid-test {
  color: red;
}

nav {
  background-color: $quaternary-color;
}