nav {
  background-color: $dark-blue;
  position: relative;
  z-index: 2;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  position: relative;

  .logo {
    line-height: 1;
    cursor: pointer;

    img {
      height: $search-height-small;

      @media only screen and (max-width: 992px) {
        height: $search-height-small;
      }
    }
  }

  .vertical-separator {
    width: 1px;
    height: $search-height;
    background: rgba(white, .15);
    margin: 0 1.5rem;
  }

  .brand-logo {
    font-size: 1.4rem;

    @media #{$medium-and-up} {
      position: relative;
      transform: none;
      left: auto;
    }
  }

  .userinfo {
    padding: 0 .8rem;
  }

  .back {
    cursor: pointer;
    margin-right: 1em;
  }

  ul a {
    padding: 0 1.5rem;
    font-size: .95em;
    cursor: pointer;
  }

  .button-collapse {
    cursor: pointer;
    display: inline-block !important; // show it on large screens

    i {
      font-size: 2.2rem;
    }
  }
}

.avatar.circle {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  margin-right: .4rem;
}

.space {
  flex: 1;
}

.highlight {
  background-color: rgba(white, .1);
}