.avatar {
    max-height: 55px;
    padding: 0 10px
}

.padding10px {
    padding: 10px;
}

.invalid-test {
    color: red;
}

@media only screen and (max-width: 500px) {
    #loginModal {
          width: 90%;
    }
    #registerModal {
          width: 90%;
    } 
}    