<div class="row">
    <form class="col s12 card padding10px" novalidate #f="ngForm" (ngSubmit)="submitPost(f.valid, f.value, category)">
        <!-- <div class="row">
            <div class="breadcrumb flat"><a href="#">Home Feeds</a><a href="#">{{User.feed.name || 'Feed'}}</a><a href="#" class="active">New Post</a>
            </div>
        </div>-->
        <!--<small>{{f | json}}</small>-->
        <div class="row" *ngIf="!User.emailVerified">
            <label for="verifyEmail" class="red-text">Please verify your Email!</label>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" class="validate" #title="ngModel" name="title" [(ngModel)]="t" placeholder="Title" required>
                <small class="red-text" [hidden]="title.valid || (title.pristine && !f._submitted)">
                    Title is required.
                </small>
            </div>
        </div>
         <div class="row">
            <label for="editor">Add text, links, images, embed videos || *italic*, **bold**, #H1</label>
            <!--<input type="hidden" class="validate" #editor="ngModel" name="detail" [(ngModel)]="detail" placeholder="Detail" required>-->
            <!--<div id="editor"></div>-->
            <p-editor name="detail" #editor="ngModel" [(ngModel)]="detail" [style]="{'height':'320px'}">
                <p-header>
                    <span class="ql-format-group">
            <span class="ql-formats">
                    <select class="ql-header">
                      <option value="1">Heading</option>
                      <option value="2">Subheading</option>
                      <option selected>Normal</option>
                    </select>
            </span>
                    <span class="ql-formats">      
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-clean"></button>
            </span>
                    <span class="ql-formats">
            <button class="ql-image"></button>
            <button class="ql-video"></button>
            <button class="ql-link"></button>
            </span>
                    </span>
                </p-header>
            </p-editor>
            <small class="red-text" [hidden]="editor.valid || (editor.pristine && !f._submitted)">
                Detail is required.
            </small>
        </div>
        <div class="row wrap">
            <a *ngIf="!postImgData?.image && !postedImgUrl" class="waves-effect waves-light btn yellow" (click)="backgroundImagePopup();"><i class="mdi mdi-cloud"></i>COVER PHOTO</a>
            <img *ngIf="postImgData?.image" [src]="postImgData?.image" alt="img-post" width="100px" (click)="backgroundImagePopup();">
            <img *ngIf="postedImgUrl" [src]="postedImgUrl" alt="img-post" width="100px" (click)="backgroundImagePopup();">
            <ng2-dropdown (onItemClicked)="dropdown.category = $event.value">
                <ng2-dropdown-button style="width: auto;" [showCaret]="false">
                    <span class="btn blue-grey darken-1">Section</span>
                </ng2-dropdown-button>
                <ng2-dropdown-menu>
                    <ng2-menu-item *ngFor="let cat of categories" [value]="cat">
                        {{ cat }}
                    </ng2-menu-item>

                    <div class='ng2-menu-divider'></div>

                    <ng2-menu-item value="ALL">
                        All
                    </ng2-menu-item>
                </ng2-dropdown-menu>
            </ng2-dropdown>
            <ng2-dropdown (onItemClicked)="dropdown.license = $event.value">
                <ng2-dropdown-button style="width: auto;" [showCaret]="false">
                    <span class="btn blue-grey darken-1">License</span>
                </ng2-dropdown-button>
                <ng2-dropdown-menu>
                    <ng2-menu-item *ngFor="let lic of licenses; let i = index" [value]="i">
                        {{ lic }}
                    </ng2-menu-item>
                </ng2-dropdown-menu>
            </ng2-dropdown>
            <ng2-dropdown (onItemClicked)="typeAddRemove($event.value)">
                <ng2-dropdown-button style="width: auto;" [showCaret]="false">
                    <span class="btn blue-grey darken-1"><i class="mdi mdi-file"></i>Format</span>
                </ng2-dropdown-button>
                <ng2-dropdown-menu>
                    <ng2-menu-item [value]="'file-document'">
                        <i class="mdi mdi-checkbox-marked" *ngIf="typeSelected('file-document')"></i>
                        <i class="mdi mdi-checkbox-blank-outline" *ngIf="!typeSelected('file-document')"></i>
                        <label for="text">Text</label>
                    </ng2-menu-item>
                    <ng2-menu-item [value]="'camera'">
                        <i class="mdi mdi-checkbox-marked" *ngIf="typeSelected('camera')"></i>
                        <i class="mdi mdi-checkbox-blank-outline" *ngIf="!typeSelected('camera')"></i>
                        <label for="image">Image</label>
                    </ng2-menu-item>
                    <ng2-menu-item [value]="'play-box-outline'">
                        <i class="mdi mdi-checkbox-marked" *ngIf="typeSelected('play-box-outline')"></i>
                        <i class="mdi mdi-checkbox-blank-outline" *ngIf="!typeSelected('play-box-outline')"></i>
                        <label for="video">Video</label>
                    </ng2-menu-item>
                    <ng2-menu-item [value]="'microphone'">
                        <i class="mdi mdi-checkbox-marked" *ngIf="typeSelected('microphone')"></i>
                        <i class="mdi mdi-checkbox-blank-outline" *ngIf="!typeSelected('microphone')"></i>
                        <label for="audio">Audio</label>
                    </ng2-menu-item>
                </ng2-dropdown-menu>
            </ng2-dropdown>
            <ng2-dropdown (onItemClicked)="dropdown.breaking = $event.value">
                <ng2-dropdown-button style="width: auto;" [showCaret]="false">
                    <span class="btn blue-grey darken-1">Breaking?</span>
                </ng2-dropdown-button>
                <ng2-dropdown-menu>
                    <ng2-menu-item [value]="true">
                        <i class="mdi mdi-checkbox-blank-circle-outline" *ngIf="!dropdown.breaking"></i>
                        <i class="mdi mdi-checkbox-blank-circle" *ngIf="dropdown.breaking"></i>
                        <label for="text">Yes</label>
                    </ng2-menu-item>
                    <ng2-menu-item [value]="false">
                        <i class="mdi mdi-checkbox-blank-circle-outline" *ngIf="dropdown.breaking"></i>
                        <i class="mdi mdi-checkbox-blank-circle" *ngIf="!dropdown.breaking"></i>
                        <label for="image">No</label>
                    </ng2-menu-item>
                </ng2-dropdown-menu>
            </ng2-dropdown>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <h6>EXTERNAL ASSETS</h6>
                    <p>
                        <input type="pdf" class="validate" #pdfLink="ngModel" name="pdfLink" [(ngModel)]="pdf" placeholder="Pdf Link">
                    </p>
                    <p>
                        <input type="gsheet" class="validate" #gsheetLink="ngModel" name="gsheetLink" [(ngModel)]="gsheet" placeholder="GSheet Link">
                    </p>
                    <p>
                        <input type="url" class="validate" #mainUrl="ngModel" name="mainUrl" [(ngModel)]="mu" placeholder="Link">
                    </p>
                </div>

                <div class="col s6">
                    <h6>INTERNAL ASSETS</h6>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-light btn blue">
                            <span>UPLOAD IMAGES</span>
                            <input type="file" id="browseImages" (change)="handleFiles($event)" class="validate" #images="ngModel" name="images" [(ngModel)]="img"
                                accept="image/*" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload files">
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-light btn blue">
                            <span>UPLOAD PDF</span>
                            <input type="file" id="browsePdfFile" (change)="handleFiles($event)" class="validate" #pdfFile="ngModel" name="pdfFile" [(ngModel)]="p1"
                                accept="application/pdf" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload PDF">
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-light btn blue">
                            <span>UPLOAD DATASET</span>
                            <input type="file" id="browseCSVFile" (change)="handleFiles($event, gsheetFile)" class="validate" #gsheetFile="ngModel" name="gsheetFile"
                                [(ngModel)]="gl" pattern="[0-9a-z]{1,}.(csv)$">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload data in CSV">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align">
            <div>
                <small class="red-text" [hidden]="dropdown.license >= 0 || !f._submitted">License is required.</small>
                <small class="red-text" [hidden]="dropdown.types.length >= 1 || !f._submitted">Type is required.</small>
                <small class="red-text" [hidden]="dropdown.category || !f._submitted">Category is required.</small>
            </div>
            <span class="red-text" id="errorPost"></span>
        </div>
        <div class="modal-footer">
            <div class="preloader-wrapper small active" *ngIf="postLoading">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn-large right" style="right:80px;">Wire!</button>
        </div>
    </form>
</div>

<div id="fullTable">
</div>
