<div class="row">
    <form class="col s12 card padding10px" novalidate #f="ngForm" (ngSubmit)="submitPost(f.valid, f.value, category)">
        <!-- <div class="row">
            <div class="breadcrumb flat"><a href="#">Home Feeds</a><a href="#">{{User.feed.name || 'Feed'}}</a><a href="#" class="active">New Post</a>
            </div>
        </div>-->
        <!--<small>{{f | json}}</small>-->
        <div class="row" *ngIf="!User.emailVerified">
            <label for="verifyEmail" class="red-text">Please verify your Email!</label>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" class="validate" #title="ngModel" name="title" [(ngModel)]="t" placeholder="Title" required>
                <small class="red-text" [hidden]="title.valid || (title.pristine && !f._submitted)">
                    Title is required.
                </small>
            </div>
        </div>
        <div class="row">
            <label for="editor">Add text, links, images, embed videos || *italic*, **bold**, #H1</label>
            <!--<input type="hidden" class="validate" #editor="ngModel" name="detail" [(ngModel)]="detail" placeholder="Detail" required>-->
            <!--<div id="editor"></div>-->
            <p-editor name="detail" #editor="ngModel" [(ngModel)]="detail" [style]="{'height':'320px'}">
                <p-header>
                    <span class="ql-format-group">
            <span class="ql-formats">
                    <select class="ql-header">
                      <option value="1">Heading</option>
                      <option value="2">Subheading</option>
                      <option selected>Normal</option>
                    </select>
            </span>
                    <span class="ql-formats">      
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            </span>
                    <span class="ql-formats">
            <button class="ql-image"></button>
            <button class="ql-video"></button>
            <button class="ql-link"></button>
            </span>
                    </span>
                </p-header>
            </p-editor>
            <small class="red-text" [hidden]="editor.valid || (editor.pristine && !f._submitted)">
                Detail is required.
            </small>
        </div>
        <div class="row wrap">
            <a *ngIf="!postImgData?.image && !postedImgUrl" class="waves-effect waves-light btn yellow" (click)="backgroundImagePopup();"><i class="mdi mdi-cloud"></i>COVER PHOTO</a>
            <img *ngIf="postImgData?.image" [src]="postImgData?.image" alt="img-post" width="100px" (click)="backgroundImagePopup();">
            <img *ngIf="postedImgUrl" [src]="postedImgUrl" alt="img-post" width="100px" (click)="backgroundImagePopup();">
            <a class="dropdown-button modify-btn waves-effect waves-light btn blue-grey darken-1" data-activates="edit-section" data-alignment="right">
                <i class="mdi mdi-tab"></i> Section
            </a>
            <ul id="edit-section" class='dropdown-content' #category="ngModel" name="category" [(ngModel)]="dropdown.category" ngDefaultControl
                required>
                <li>
                    <a>All</a>
                </li>
                <li *ngFor="let cat of categories" (click)="dropdown.category = cat" [value]="cat">
                    <a>{{cat}}</a>
                </li>
            </ul>

            <a class="dropdown-button modify-btn waves-effect waves-light btn blue-grey darken-1" data-activates="edit-license" data-alignment="right">
                <i class="mdi mdi-coin"></i> LICENSE
            </a>
            <ul id="edit-license" class='dropdown-content' #license="ngModel" name="license" [(ngModel)]="dropdown.license" ngDefaultControl
                required>
                <li *ngFor="let lic of licenses; let i = index" (click)="dropdown.license = i" [value]="i">
                    <a>{{lic}}</a>
                </li>
            </ul>

            <a class="dropdown-button modify-btn waves-effect waves-light btn blue-grey darken-1" data-activates="edit-format" data-alignment="right">
                <i class="mdi mdi-file"></i> FORMAT
            </a>
            <ul id="edit-format" class='dropdown-content' #type="ngModel" multiple name="type" [(ngModel)]="dropdown.type" ngDefaultControl>
                <!--<li (click)="dropdown.type = 'file-document'" [value]="file-document">
                    <a>Text</a>
                </li>
                <li (click)="dropdown.type = 'camera'" [value]="camera">
                    <a>Image</a>
                </li>
                <li (click)="dropdown.type = 'play-box-outline'" [value]="play-box-outline">
                    <a>Video</a>
                </li>
                <li (click)="dropdown.type = 'microphone'" [value]="microphone">
                    <a>Audio</a>
                </li>-->
                <li class="padding">
                    <input type="checkbox" id="text" name="type" (change)="typeAddRemove('file-document')" />
                    <label for="text">Text</label>
                </li>
                <li class="padding">
                    <input type="checkbox" id="image" name="type" (change)="typeAddRemove('camera')" />
                    <label for="image">Image</label>
                </li>
                <li class="padding">
                    <input type="checkbox" id="video" name="type" (change)="typeAddRemove('play-box-outline')" />
                    <label for="video">Video</label>
                </li>
                <li class="padding">
                    <input type="checkbox" id="audio" name="type" (change)="typeAddRemove('microphone')" />
                    <label for="audio">Audio</label>
                </li>
            </ul>

            <a class="dropdown-button modify-btn waves-effect waves-light btn blue-grey darken-1" data-activates="edit-breaking" data-alignment="right">
                <i class="mdi mdi-alert"></i> BREAKING?
            </a>
            <ul id="edit-breaking" class='dropdown-content' #priority="ngModel" name="priority" [(ngModel)]="dropdown.breaking" ngDefaultControl
                required>
                <li class="padding">
                    <input type="radio" id="yes" name="breaking" (change)="dropdown.breaking = true" />
                    <label for="yes">Yes</label>
                </li>
                <li class="padding">
                    <input type="radio" id="no" name="breaking" (change)="dropdown.breaking = false" />
                    <label for="no">No</label>
                </li>
            </ul>

        </div>
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <h6>EXTERNAL ASSETS</h6>
                    <p>
                        <input type="pdf" class="validate" #pdfLink="ngModel" name="pdfLink" [(ngModel)]="pdf" placeholder="Pdf Link">
                    </p>
                    <p>
                        <input type="gsheet" class="validate" #gsheetLink="ngModel" name="gsheetLink" [(ngModel)]="gsheet" placeholder="GSheet Link">
                    </p>
                    <p>
                        <input type="url" class="validate" #mainUrl="ngModel" name="mainUrl" [(ngModel)]="mu" placeholder="Link">
                    </p>
                </div>

                <div class="col s6">
                    <h6>INTERNAL ASSETS</h6>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-light btn blue">
                            <span>UPLOAD IMAGES</span>
                            <input type="file" id="browseImages" (change)="handleFiles($event)" class="validate" #images="ngModel" name="images" [(ngModel)]="img"
                                accept="image/*" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload files">
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-light btn blue">
                            <span>UPLOAD PDF</span>
                            <input type="file" id="browsePdfFile" (change)="handleFiles($event)" class="validate" #pdfFile="ngModel" name="pdfFile" [(ngModel)]="p1"
                                accept="application/pdf" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload PDF">
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-light btn blue">
                            <span>UPLOAD DATASET</span>
                            <input type="file" id="browseCSVFile" (change)="handleFiles($event, gsheetFile)" class="validate" #gsheetFile="ngModel" name="gsheetFile"
                                [(ngModel)]="gl" pattern="[0-9a-z]{1,}.(csv)$">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload data in CSV">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align">
            <div>
                <small class="red-text" [hidden]="license.valid || (license.pristine && !f._submitted)">License is required.</small>
                <small class="red-text" [hidden]="priority.valid || (priority.pristine && !f._submitted)">Priority is required.</small>
                <small class="red-text" [hidden]="type.valid || (type.pristine && !f._submitted)">Type is required.</small>
                <small class="red-text" [hidden]="category.valid || (category.pristine && !f._submitted)">Category is required.</small>
            </div>
            <span class="red-text" id="errorPost"></span>
        </div>
        <div class="modal-footer">
            <div class="preloader-wrapper small active" *ngIf="postLoading">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn-large right">Wire!</button>
        </div>
    </form>
</div>

<div id="fullTable">
</div>